[flake8]
application_import_names = src,main
select = B,B9,BLK,C,E,F,I,S,W
ignore = ANN,E203,W503,S404,S603
max-line-length = 88
import-order-style = google
per-file-ignores = tests/*:S101,ANN
                    noxfile.py:ANN
